body {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	line-height: 1.6;
	color: #141521; 
	padding: 10px;
    background: #838997;
    font: 1.0em sans-serif;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #3F51B5;
}
h2, h3, p, li {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #57a7cc;
}
em {
	color: #3F51B5;
}
a, a:visited {
	color: #3F51B5;
}
a:hover {
	color: #3F51B5;
}

.hidden-preload {
	position: absolute;
	visibility: hidden;
}

header {
	position: relative;
	text-align: center;
	background-color: #1130E5;
	padding-top: 60px;
	padding-bottom: 60px;
}
header h1 {
	position: relative;
	margin: 0;
	padding: 0 20px;
	color: white;
}
header p {
	position: relative;
	color: white;
	margin: auto;
}
header a, header a:visited {
	color: white;
}
.header-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

nav {
	text-align: center;
}
nav ul {
	padding: 0;
	margin: 5px;
}
nav li {
	list-style: none;
	display: inline;
	font-size: 0.8rem;
	color: #902424;
}
nav li:not(:last-child):after {
	content: " \00b7";
}


main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
} 
/*
main {
    margin-left: 1em;
    margin-right: 1em;
}
*/
main > section { margin-bottom: 1em; }

main > section div.framed > div {
    border: 1px solid black;
    margin-bottom: 1ex;
    padding: 1ex;
}

main > section button { padding: 0.5ex 1em; }

main > section input[type="range"] { width: 400px; }

main > section label[for^="YouTube-player-"] { position: absolute; }

main > section textarea {
    height: 9ex;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 99%;
}









.sketch {
	display: block;
	position: relative;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: white;
}
.sketch-small {
	max-width: 250px;
}
.sketch-letter {
	max-width: 50px;
}
.sketch-child {
	display: block;
	width: 100%;
}
.sketch-mult {
	width: 20vw;
	max-width: 200px;
	margin: 0;
}

.img-component-container {
	max-width: 500px;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-gap: 1.5vw;
}
.multi-container .img-component-container {
	margin: 0 20px;
}

.img-component {
	display: block;
	width: 100%;

	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0, 0.2);
	border-radius: 5%;
	background-color: white;
}
.maths {
	font-size: 10vw;
}


button {
    font: 1.0em sans-serif;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    background-color: #0F1110;
    color: #fff;
    letter-spacing: 0.1em;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 0.15s ease;
    margin-bottom: 0.5em;

}



.button {
	display: block;
	margin: auto;
	background-color: #0C2406;
	color: white;
	font-size: 20px;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
	transition: transform 0.1s linear,
				background-color 0.1s linear;
}
.button:hover, .button:focus {
	background-color: #ed7656;
}
.button:focus {
	outline: 0;
}
.button:active {
	transform: scale(0.95);
}
.embedded-button {
	position: absolute;
	top: 0;
	right: 0;
}
.instruction {
	font-size: 30px;
	color: #050A24;
	margin: auto;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;

	pointer-events: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

	transition: opacity 0.2s ease-in-out;
}
.wave-instruction {
	top: 25%;
}
.hidden {
	opacity: 0;
}
.clear-pixels {
	image-rendering: pixelated;
}

.multi-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}
/* Because flex box doesn't collapse margins, use much smaller ones */
.multi-container .sketch {
	margin: 10px;
}
.multi-container .sketch-mult {
	margin: 2vw;
}

input[type=range] {
	display: block;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
#container {
  width: 100%;
  height: 100%;
} 


* {
  margin: 0;
  padding: 0;
  border: 0;
}



select {
    font: 1.0em sans-serif;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    color: #333333;
    letter-spacing: 0.1em;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 0.15s ease;
    margin-bottom: 0.5em;

}

a {
    background-color: #4099FF;
    color: #fff;
    letter-spacing: 0.1em;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 0.15s ease;
    margin-bottom: 2em;
    text-decoration: none;
    font-style: none;
}

a:hover {
  background-color: #fff;
  color: #7f8c8d;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}




button:hover {
  background-color: #fff;
  color: #7f8c8d;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

input[type="text"] {
    font: 1.0em sans-serif;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    color: #333333;
    letter-spacing: 0.1em;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 15px;
    transition: all 0.15s ease;
    margin-bottom: 0.5em;
}








.center { text-align: center; }

.margin-left-m { margin-left: 1em; }
.margin-right-m { margin-right: 1em; }

.nowrap { white-space: nowrap; }


#indicator-display {
    background-color: #f0f0f0;
    border-radius: 3ex;
    display: inline-block;
    float: right;
    font-family: monospace;
    height: 2ex;
    line-height: 2ex;
    margin: 1ex 1ex 0 0;
    padding: 1ex;
    text-align: center;
    vertical-align: middle;
    width: 2ex;
}

#YouTube-video-id { font-family: monospace; }


@media (max-width: 600px) {
    main > section iframe {
      height: 240px;
      width: 320px;
    }

    main > section input[type="range"] { width: 320px; }
}

@media (max-width: 400px) {
    main > section iframe {
      height: 200px;
      width: 200px;
    }

    main > section input[type="range"] { width: 200px; }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14pt;
  font-family: "Myriad Web Pro" sans-serif;
  font-color: #111;
}
p {
  margin-top: 1.5rem;
}
.container {
  margin: 0 auto;
}
.btn {
  padding: 0 0.5rem;
  background-color: #AAA;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-color: #444;
  -webkit-transition: height ease-in 100ms;
}
.sidebar ul {
  color: #ddd;
  margin-left: 400px;
}
.sidebar .close {
  float: right;
}
.sidebar .description {
  font-style: italic;
  font-size: 24pt;
  margin-right: 400px;
  color: #bbb;
  padding: 0.5rem;
}
.sidebar .player {
  width: 345px;
  background-color: #444;
  z-index: 999;
  float: left;
}
.sidebar .player.scrolled {
  position: fixed;
  right: 0px;
  -webkit-box-shadow: 0px 0px 7px 3px #333;
}
.sidebar.closed {
  height: 0px;
  -webkit-transition: height ease-in 100ms;
}
.carousel {
  width: 100%;
  height: 35vw;
  background-color: #AAA;
  display: table;
}
.carousel p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
nav {
  width: 100%;
  margin-right: 0;
  top: 0px;
  background-color: #888;
  min-height: 50px;
  z-index: 998;
  clear: both;
}
nav .logo {
  width: 128px;
  background-color: #bbb;
  padding: 1rem;
  text-align: center;
}
nav.scrolled {
  position: fixed;
  -webkit-box-shadow: 0px 0px 7px 3px #333;
}
.tabs {
  min-height: 59px;
}
.tab {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}
.tab.active {
  text-decoration: underline;
}
.tab-pane {
  padding: 2rem 0px;
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-align: left;
}
.tab-pane.active {
  position: relative;
  top: 0;
  left: 0;
}
.module {
  max-height: 254px;
  min-height: 240px;
  margin-top: 1rem;
  padding: 4px;
  background-color: #ddd;
  overflow: auto;
  white-space: nowrap;
}
.thumb {
  display: inline-block;
  color: #ddd;
  background-color: #888;
  width: 333px;
  height: 221px;
  margin: 5px;
  padding: 0.5rem;
}
