* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14pt;
  font-family: "Myriad Web Pro" sans-serif;
  font-color: #111;
}
p {
  margin-top: 1.5rem;
}
.container {
  margin: 0 auto;
}
.btn {
  padding: 0 0.5rem;
  background-color: #AAA;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-color: #444;
  -webkit-transition: height ease-in 100ms;
}
.sidebar ul {
  color: #ddd;
  margin-left: 400px;
}
.sidebar .close {
  float: right;
}
.sidebar .description {
  font-style: italic;
  font-size: 24pt;
  margin-right: 400px;
  color: #bbb;
  padding: 0.5rem;
}
.sidebar .player {
  width: 345px;
  background-color: #444;
  z-index: 999;
  float: left;
}
.sidebar .player.scrolled {
  position: fixed;
  right: 0px;
  -webkit-box-shadow: 0px 0px 7px 3px #333;
}
.sidebar.closed {
  height: 0px;
  -webkit-transition: height ease-in 100ms;
}
.carousel {
  width: 100%;
  height: 35vw;
  background-color: #AAA;
  display: table;
}
.carousel p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
nav {
  width: 100%;
  margin-right: 0;
  top: 0px;
  background-color: #888;
  min-height: 50px;
  z-index: 998;
  clear: both;
}
nav .logo {
  width: 128px;
  background-color: #bbb;
  padding: 1rem;
  text-align: center;
}
nav.scrolled {
  position: fixed;
  -webkit-box-shadow: 0px 0px 7px 3px #333;
}
.tabs {
  min-height: 59px;
}
.tab {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}
.tab.active {
  text-decoration: underline;
}
.tab-pane {
  padding: 2rem 0px;
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-align: left;
}
.tab-pane.active {
  position: relative;
  top: 0;
  left: 0;
}
.module {
  max-height: 254px;
  min-height: 240px;
  margin-top: 1rem;
  padding: 4px;
  background-color: #ddd;
  overflow: auto;
  white-space: nowrap;
}
.thumb {
  display: inline-block;
  color: #ddd;
  background-color: #888;
  width: 333px;
  height: 221px;
  margin: 5px;
  padding: 0.5rem;
}